@use "../../variables.scss";

.quack {
  border-bottom: 1px solid variables.$border-style-light;
  padding: 1em 2em;
  .quack-top {
    margin-bottom: 12px;
    .quack-user {
      margin-right: 6px;
    }
    .quack-timestamp {
      margin-left: 6px;
      color: grey;
    }
  }
}
