$border-style-light: #eff3f4;
$border-style-dark: white;
$primary-color-light: #1976d2;
$primary-color-lighter: lighten($primary-color-light, 10);
$body-background-color: rgb(245, 245, 245);
$text-color-secondary: #9d9d9d;
