@use "./../../variables.scss";

.profile {
  $border-width: 3px;
  $border-color: white;

  &-banner {
    height: 190px;
    display: flex;
    justify-content: stretch;
    border-bottom: $border-width solid $border-color;
    z-index: -1;

    // banner
    img {
      flex-grow: 1;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      margin: 0 auto;
      background-color: $border-color;
    }

    &-placeholder {
      background-color: aquamarine;
      width: 100%;
      height: 100%;
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    min-height: 100px;

    &-avatar {
      max-width: 150px;
      max-height: 0;
      margin-left: 2em;
      position: relative;
      line-height: 0;
      // avatar
      img {
        background-color: white;
        flex-grow: 1;
        max-width: 100%;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 50%;
        transform: translateY(-50%);
        z-index: 2;
        border: $border-width solid $border-color;
      }

      &-placeholder {
        background-color: aquamarine;
        width: 100%;
        height: 100%;
      }
    }

    &-texts {
      margin-left: 24px;

      &-username {
        font-size: 1.5em;
        margin: 2px 0 0;
      }

      &-description {
        font-size: 0.8em;
        margin: 1px 24px 24px 1px;
        word-break: break-word;
        white-space: pre-wrap;
        color: variables.$text-color-secondary;
      }
    }

    &-button {
      margin: 20px 40px 0 auto;
      button {
        width: 120px;
      }
    }
  }

  &-stats {
    min-height: 30px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.2em;
    font-size: 1.05em;
    border-bottom: 1px solid variables.$border-style-light;

    &-followers {
    }

    &-followees {
    }

    &-joined {
    }
  }
}

#edit-profile-dialog-form {
  .form-controls-wrapper {
    display: flex;
    flex-direction: column;
  }
}
