@use "../../variables.scss";

.navbar {
  .toolbar {
    display: flex;
    justify-content: space-between;

    &-search {
      margin-left: auto;
      color: white;
    }
  }
  #toolbar-button {
    margin-left: 2vw;
  }
  #quacore-logo {
    margin-right: 10vw;
    font-family: DuckRegular;
    font-size: 50px;
    line-height: 50px;
    padding-top: 8px;
    a {
      color: white;
    }
  }
}
